h1 {
    color: white;
    margin-left:40px
}

/* * {
    border: solid;
} */
.header *{
    border:solid
}
.header{
    background-color: rgb(7, 199, 206);
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#f7b709 ;
    margin:50px
}

.footer{
    display: flex;
    justify-content: flex-end;
    background-color: #229912;
}

p,h2{
    text-align: center;
}
body{
    background-color:#4d0686 ;
}
.item{
    background-color: #f30a0a;
}
a:link{
    color:black;
}
a:visited{
    color:chartreuse;
}
.item{
    position:relative
}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.item:hover p{
opacity:1;
}